@font-face {
    font-family: 'DxGrafic';
    src: url('dxgrafik-semibold.woff2') format('woff2'),
        url('dxgrafik-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


