.b-loader{

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 99999999;
    background-color: var(--color-bg-primary);

    &__velo{

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      opacity: .5;
      
      .is-save &{
        
        background-color: var(--color-black);

      }

    }

    &.is-save{

      background-color: transparent;

    }

    &__item{

        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid #0000;
        border-right-color: var(--color-menu);
        position: relative;
        animation: l24 1s infinite linear;

        &::before, &::after{

          content: "";
          position: absolute;
          inset: -8px;
          border-radius: 50%;
          border: inherit;
          animation: inherit;
          animation-duration: 2s;

        }

        &::after{

          animation-duration: 4s;

        }
        
    }

    /* HTML: <div class="loader"></div> */

    @keyframes l24 {
      100% {transform: rotate(1turn)}
    }

}