.b-user-details{

    opacity: 0;
    visibility: hidden;
    position: fixed;   
    width: 100%;
    height: 100%;  
    z-index: 9;
    transition: all 0.3s ease-in-out;

    &.is-active{

        opacity: 1;
        visibility: visible;

    }

    &__inner{

        position: relative;
        width: 100%;
        height: 100%;

    }

    &__box{

        position: relative;
        background-color: #fff;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        width: calc(var(--col-1)*6);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);  

    }

    &__wrapper-input{

        padding-bottom: 10px;
        display: flex;

    }

    &__label{

        padding-right: 10px;

    }

    &__input{

        font-weight: bold;

    }

    &__wrapper-title{

        padding-bottom: 20px;

    }

    &__wrapper-ctas{

        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-top: 20px;

    }

    &__icon{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        fill: #666;
    }

}