.c-hero{

    $b : &;
    
    @include av-prepare-debug();

    position: relative;    
    height: 100%;
    padding: 120px 0px;
    z-index: 1;

    @include md{

        height: 100vh;
        padding: 0px;

    }

    &__container{

        position: relative;
        z-index: 2;    
        height: 100%;

    }

    &__col{
        
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__wrapper-title{

        display: block;   
        padding-bottom: 50px;

        @include md{

            padding-bottom: 25px;

        }

    }

    &__title{

        color: var(--text-color);
        display: block;
        width: 100%;
        // font-weight: bold;
        text-align: center;
        font-style: italic;
        
    }

    &__wrapper-description{

        text-align: center;
        padding-bottom: 24px;

    }

    &__description{

        overflow: hidden;

    }

    &__wrapper-text{

        text-align: center;
        padding-bottom: 45px;

    }

    &__text{

        overflow: hidden;

    }

    &__wrapper-cta{
    
        text-align: center;

    }

    &__cta{        

    }

    &__inner{

        height: 100%;
        opacity: 0;
        transition: opacity .3s ease-in-out;

        @include sm{


            
        }

        .is-inview &{

            opacity: 1;

        }

    }

    &__wrapper-image{
                      
        padding-bottom: 50px;
        padding-top: 25px;
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: opacity .5s ease-in-out;

        .is-inview &{

            opacity: 1;

        }

        @include md{

            padding-bottom: 100px;

        }


    }

    &__image{

        position: absolute;
        top: -20%;
        left: 0px;
        width: 100%;
        height: 140%;
        object-fit: cover;

    }

    &__wrapper-arrow{

        position: absolute;
        bottom: 40px;
        left: calc(50% + calc(var(--container-padding-left) / 2));
        transform: translateX(-50%);
        z-index: 9;

        @include sm{

            left: 50%;

        }

        svg{

            height: 50px;
            width: auto;

            path{

                fill: var(--text-color);

            }

        }

    }

}
