.c-list-cpt-sats{

    $b : &;

    @include av-prepare-debug();

    &__inner{

        min-height: 100vh;
        // padding-top: 100px;

    }

    &__wrapper-title{

        text-align: center;
        padding-bottom: 50px;

    }

    &__wrapper-list{

        padding-top: 50px;

    }

    table {
        border-collapse: collapse;
        width: 100%;
    }
    tr{

        &:hover{
            background-color: #cadefe;
        }

    }
    th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;            
    }
    th {
        background-color: #f4f4f4;
    }

    &__link{

        &:hover{
            text-decoration: underline;
        }
    }

    &__svg{

        position: relative;
        left: 50%;
        transform: translateX(-50%);

    }

    &__wrapper-select-status{

        display: flex;

    }

    &__wrapper-save-status{

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__save-status{

        cursor: pointer;
        margin-left: 10px;
        vertical-align: middle;
        opacity: .5;

        &:hover{
            opacity: 1;
        }

        &--check{
            display: none;
        }
    }

}