.c-list-cpt-themes{

    $b : &;

    @include av-prepare-debug();

    &__inner{

        padding-top: 140px;

    }

    &__col{

        &--theme{

            padding-bottom: 50px;

        }

    }

    &__wrapper-project{

        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: all .3s ease-in-out;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: var(--color-hover);
        
        &:hover{
            
            border: 1px solid var(--color-menu);
            opacity: .8;

        }

    }

    &__text-content{
        
        position: relative;
        display: flex;        
        justify-content: space-between;
        padding: 12px;

        @include md{

            padding: 24px;

        }

    }

    &__wrapper-title{

        padding-bottom: 60px;

    }

    &__title{

        text-transform: uppercase;

    }

    &__link-icon{

        width: 20px;
        height: 20px;

    }

    &__wrapper-image{

        display: block;
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 5px;

        @include av-aspect-ratio(60%);


    }

    &__image{

        position: absolute;            
        left: 0px;
        top: 0px;
        opacity: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

}