.c-list-cpt-clients{

    $b : &;

    @include av-prepare-debug();

    &__inner{

        min-height: 100vh;
        // padding-top: 100px;

    }

    &__wrapper-title{

        text-align: center;
        padding-bottom: 50px;

    }

    &__wrapper-list{

        padding-top: 50px;

    }

    table {
        border-collapse: collapse;
        width: 100%;
    }
    tr{

        &:hover{
            background-color: #cadefe;
        }

    }
    th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;

        a{
            &:hover{
                text-decoration: underline;
            }
        }
    }
    th {
        background-color: #f4f4f4;
    }

    &__ctas{

        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    &__wrapper-search{

        display: flex; 
        position: relative;       

    }

    &__loader{

        display: none;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        position: absolute;
        right: -50px;
        top: 50%;
        transform: translateY(-50%);

        &.is-active{
            display: flex;
        }

        &-item{

            width: 30px;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 6px solid #0000;
            border-right-color: var(--color-menu);
            position: relative;
            animation: l24 1s infinite linear;

            &::before, &::after{

              content: "";
              position: absolute;
              inset: -6px;
              border-radius: 50%;
              border: inherit;
              animation: inherit;
              animation-duration: 2s;

            }

            &::after{

              animation-duration: 4s;

            }          

        }

        @keyframes l24 {
          100% {transform: rotate(1turn)}
        }

    }

    &__search{

        padding: 8px;

    }

}