.c-list-cpt-sats{

    $b : &;

    @include av-prepare-debug();

    &__inner{

        min-height: 100vh;
        // padding-top: 100px;

    }

    &__wrapper-title{

        text-align: center;
        padding-bottom: 50px;

    }

    &__wrapper-list{

        padding-top: 20px;

        @include sm{

            padding-top: 50px;

        }

    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 80px;
    }
    tr{

        &:hover{
            background-color: #cadefe;
        }

    }
    th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;       
        
        a{

            &:hover{

                text-decoration: underline;

            }

        }
    }
    th {
        background-color: #f4f4f4;
    }

    &__link{

        &:hover{
            text-decoration: underline;
        }
    }

    &__search-label{

        margin-right: 10px;
        font-weight: bold;
        padding-bottom: 10px;

        @include sm{

            padding-bottom: 0px;

        }

    }

    &__svg{

        position: relative;
        left: 50%;
        transform: translateX(-50%);

    }

    &__wrapper-select-status{

        display: flex;

    }

    &__wrapper-save-status{

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__save-status{

        cursor: pointer;
        margin-left: 10px;
        vertical-align: middle;
        opacity: .5;
        display: none;

        &.is-active{

            display: block;

        }

        &:hover{
            opacity: 1;
        }

        &--check{
            display: none;
        }
    }

    &__form-search{

        display: flex;
        align-items: center;
        gap: 10px;

        select, input{
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

    }

    &__priority{

        text-align: center !important;

        &::first-letter{
            text-transform: uppercase;
        }
        
        &.compleja{
            background-color: #f8d7da;
            color: #842029;
        }
        &.media{
            background-color: #fff3cd;
            color: #664d03;
        }
        &.rapida{
            background-color: #dbeafe;
            color: #1e3a8a;
        }

    }

    &__remove-search{

        display: flex;

    }

    &__remove-search-icon{

        width: 25px;
        height: 25px;
        border: 1px solid red;
        border-radius: 3px;
        cursor: pointer;

    }

    &__pagination{

        padding: 0px 0px 100px 0px;
        text-align: center;

        a{
            display: inline-block;
            padding: 8px 12px;
            margin: 0 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-decoration: none;
            color: #333;

            &.current{
                background-color: #0073aa;
                color: #fff;
                border-color: #0073aa;
            }

            &:hover{
                background-color: #0073aa;
                color: #fff;
                border-color: #0073aa;
            }
        }

    }

    &__wrapper-count{

        text-align: end;
        margin-top: 20px;

    }

    &__wrapper-menu{

        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;

    }

    &__menu-item{

        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;

        &--active{
            background-color: #0073aa;
            color: #fff;
            border-color: #0073aa;
        }

        &:hover{
            background-color: #0073aa;
            color: #fff;
            border-color: #0073aa;
        }
    }

    &__wrapper-input-search{

        display: flex;
        align-items: center;
        gap: 10px;

    }

}