.c-menu{

    $b : &;
    
    @include av-prepare-debug();

    position: relative;
    z-index: 2;
    
    &__col{
        
        overflow-wrap: break-word;
        
    }
    
    &__inner{
        
        border-top: 1px solid var(--color-black);
        min-height: 90vh;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        
    }
    
    &__menu{

        text-align: center;
        position: relative;
        z-index: 2;

    }

    &__wrapper-title{

        padding-bottom: 24px;
        position: relative;
        z-index: 2;

    }

    &__title{

        text-transform: uppercase;
        text-align: center;
        text-decoration: underline;

    }

    &__wrapper-cta{

        position: relative;
        z-index: 2;

    }

    &__bg-wrapper-image{

        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: all .3s ease-in-out;

        .is-hover &{

            opacity: 1;

        }

    }

    &__wrapper-image{

        @include av-aspect-ratio(120%);

        display: block;
        width: calc(var(--col-1) * 4);
        position: relative;
        
    }
    
    &__bg-image{
        
        position: absolute;
        top: 0px;        
        left: 0px;
        width: 100%;
        object-fit: cover;     
        filter: blur(1px);

    }

    &__bg-velo{

        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--color-black);
        opacity: .4;
        z-index: 2;        
    }
    
}
