.c-service{

    position: relative;
    z-index: 2;
    overflow: hidden;

    &__inner{

        padding-top: 48px;
        padding-bottom: 48px;

    }

    &__container{

        opacity: 0;
        visibility: hidden;
        transition: all .5s ease-in-out;

        .is-inview &{

            opacity: 1;
            visibility: visible;

        }

    }

    &__col{

        z-index: 2;

    }

    &__wrapper-image{

        padding-bottom: 14px;

    }

    &__image{

        width: 90px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

    }

    &__wrapper-content{

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

    }

    &__box{

        width: calc(var(--col-1) * 4);
        padding-bottom: 48px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include sm{

            width: calc(var(--col-1) * 3);
            padding: 0px 24px;

        }

    }

    &__wrapper-title{

        padding-bottom: 14px;

    }
    
}