.c-single-cpt-themes{

    $b : &;
    
    @include av-prepare-debug();

    &__inner{

        padding-top: 90px;

        @include md{

            padding-top: 140px;

        }

    }

    &__col{

        padding-bottom: 40px;

    }

    &__box-1{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 40px;
        
        @include md{
            
            align-items: center;
            flex-direction: row;
            padding-bottom: 98px;

        }

    }

    &__wrapper-title{

        padding-bottom: 40px;

        @include md{

            padding-bottom: 0px;

        }

    }

    &__wrapper-video{
        
        @include av-aspect-ratio(50%);
                
        display: block;
        width: 100%;
        position: relative;
        cursor: pointer;                      
        transition: opacity .3s ease-in-out;
        
    }
    
    &__video{

        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;     
        padding: 10px;
        border: 1px solid var(--color-menu);
        border-radius: 5px; 
        
    }

    &__wrapper-velo{

        @include md{

            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--color-black);
            top: 0px;
            left: 0px;
            z-index: 9;
            opacity: 0;
            visibility: hidden;
            border-radius: 5px;
            transition: all .3s ease-in-out;
    
            .js-single-cpt-themes__hover-active &{
    
                opacity: .2;
                visibility: visible;
    
            }
        }

    }

    &__image-icon{

        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 99;
        width: 25px;
        height: 25px;
        opacity: 1;      
        padding: 3px;
        background-color: var(--color-black);
        border-radius: 5px;  
        transition: all .3s ease-in-out;

        path{
    
            fill: var(--color-white);

            @include md{

                fill: var(--color-black);

            }

        }

        @include md{

            width: 80px;
            height: 80px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            visibility: hidden;
            padding: 0px;
            background-color: initial;
            border-radius: initial;

            path{
    
                fill: var(--color-white);
    
            }
    
            .js-single-cpt-themes__hover-active &{
    
                opacity: 1;
                visibility: visible;
    
            }
    
            &.hide{
    
                opacity: 0;
                visibility: hidden;
    
            }
        }


    }

}