@font-face {
    font-family: 'Inter';
    src: url('inter.woff2') format('woff2'),
        url('inter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


